:root {
  --body-text-color: #434455;
  --primery-white-color: #ffffff;
  --header-text-color: #2E2F42;
  --primery-brend-color: #4D5AE5;
  --accent-link-color: #404BBF;
  --border-color: #E7E9FC;
  --secondary-white-color: #F4F4FD;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--body-text-color);
  background-color: var(--primery-white-color);
}

/* стили для index.html*/
/* header */
.header {
  border: 1px solid var(--border-color)
}

.logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  color: var(--primery-brend-color);
}

.logo.dark {
  color: var(--header-text-color);
}

.logo.white {
  color: var(--primery-white-color);
}

.nav-link {
  color: var(--dark-brand-color);
}

.nav-link.active {
  color: var(--accent-link-color);
}

.address-link {
  color: var(--body-text-color);
  font-size: 16px;
  line-height: 1.5;
}

.address-link:hover {
  color: var(--accent-link-color);
}

/* main */

.section.hero {
  background-color: var(--header-text-color);
}

.hero-header {
  color: var(--primery-white-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
}

.button.hero {
  background-color: var(--primery-brend-color);
  color: var(--primery-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.button.hero:hover {
  background-color: var(--accent-link-color);
}

/* advanteges*/

.item-header {
  color: var(--header-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

/* doing */

.section-header {
  color: var(--header-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
}

.pic {
  border: 1px solid var(--border-color);
}

.section.team {
  background-color: var(--secondary-white-color);
}

.team.item {
  background-color: var(--primery-white-color)
}

.name {
  color: var(--header-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.position {
  font-size: 16px;
  line-height: 1.5;
}

/* footer */

.footer {
  background-color: var(--header-text-color)
}

.footer.text {
  color: var(--primery-white-color)
}

/* portfolio */
/* main */
/* filter */

.filter-button {
  color: var(--primery-brend-color);
  background-color: var(--secondary-white-color);
  border-color: var(--border-color);
  cursor: pointer;
}

.filter-button:hover {
  color: var(--primery-white-color);
  border: 1px solid var(--accent-link-color)
}

.port-var {
  border: 1px solid var(--border-color)
}

.img-variant {
  cursor: pointer;
}

.port-name {
  color: var(--header-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  cursor: pointer;
}

.port-filtr {
  color: var(--body-text-color);
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}